.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    position: relative;
}

.node {
    width: 5px;
    height: 5px;
    border: 0.5px solid black;
    display: inline-block;
    border-radius: 3px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}


